{% extends "layouts/base2.html" %}
{% load static %}

{% block title %}{% endblock title %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'links.css' %}">  
{% endblock extra_css %}

{% block content %}
<div class="container">
    <div class="section1">
        <a href="https://qu.edu.sa/" target="_blank">Go to QU website (open in a new tab)</a>
    </div>
    <div class="section2">
        <a href="https://qu.edu.sa/" taregt="_parent">Go to QU website (open in the same page/tab)</a>
    </div>
    <div class="section3">
        <a href="https://qu.edu.sa/">Go to QU website (open in the same page/tab)</a>
    </div>
</div>

{% endblock content %}