{% extends "layouts/base2.html" %}
{% load static %}

{% block title %}{% endblock title %}
{% block extra_css %} 

<link rel="stylesheet" href="{% static 'tables.css' %}">

{% endblock extra_css %}

{% block content %}
<!-- Table 1: Simple Fruit Price Table -->
<table class="fruit-table">
    <caption>Table 1: Table of Fruits and Their Prices</caption>
    <tr>
        <th>Fruit</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>Apple</td>
        <td>$0.25</td>
    </tr>
    <tr>
        <td>Orange</td>
        <td>$0.50</td>
    </tr>
    <tr>
        <td>Banana</td>
        <td>$1.00</td>
    </tr>
    <tr>
        <td>Pineapple</td>
        <td>$2.00</td>
    </tr>
    <tr>
        <th>Total</th>
        <th>$3.75</th>
    </tr>
</table>

<!-- Table 2: Complex Table with Image and Multiple Headers -->
<table class="camel-table">
    <caption>Table 2: A more complex sample table</caption>
    <tr>
        <td rowspan="2">
            <img src="{% static 'desert.jpg' %}" alt="Desert Image" class="table-image">
        </td>
        <th colspan="4">Camelid comparison<br>approximate as of 6/2011</br></th>
    </tr>
    <tr>
        <th># of humps</th>
        <th>Indigenous region</th>
        <th>Spits?</th>
        <th>Produces wool?</th>
    </tr>
    <tr>
        <th>Dromedary</th>
        <td>1</td>
        <td>Arabian Peninsula</td>
        <td>Yes</td>
        <td>Yes</td>
    </tr>
    <tr>
        <th>Camels (bactrian)</th>
        <td>2</td>
        <td>Africa/Asia</td>
        <td>Yes</td>
        <td>Yes</td>
    </tr>
    <tr>
        <th>Llamas</th>
        <td>1</td>
        <td>Andes Mountains</td>
        <td>Yes</td>
        <td>Yes</td>
    </tr>
</table>
{% endblock content %}